.title {
  color: #1e88e5;
  font-size: 1.25rem;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content-wrapper {
  font-size: 0.7rem;
  margin-top: 10px;
  display: flex;
  height: 4rem;
}

.content {
  overflow: hidden;
  padding-right: 5px;
}

.image {
  width: 4rem;
  height: 4rem;
  border-radius: 6px;
}

.card {
  max-width: 100%;
  min-width: 200px;
  color: rgba(0, 0, 0, 0.6);
  padding: 0.75rem;
  height: 8rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
}
